@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

*{
  font-family: "Merriweather", serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Spectral SC", serif;
}

a.active{
  color: rgb(236, 16, 16);
  text-decoration: underline;
}